@use 'sass:math';
@use '../../../scss/utility';

$headerColor: utility.$dive-gray-dk3;
$verticalGap: 0.75rem;

:host {
  // width: 100%;
  // margin-bottom: 5vw;
  // padding: 0.7vw;
  // @include utility.media-breakpoint-gte(sm) {
  //   margin-bottom: 2vw;
  // }
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: utility.$dive-gray-dk3;

  font-size: 1.25vw;
  background-color: $headerColor; //rgba(0,0,0,0.75);
  color: utility.$dive-white;
  font-family: 'Righteous', cursive;

  ul {
    display: none;
    @include utility.media-breakpoint-gte(sm) {
      display: flex;
    }
    justify-content: center;
    gap: 1vw;
    padding: 0.25vw 0;
    margin: 0;
    list-style-type: none;

    li {
      padding: 0.5vw 1vw;

      a {
        &.current-page {
          color: utility.$dive-gray-md;
        }
      }
    }
  }

  img {
    position: absolute;
    width: 14vw;    
  }
  svg {    
    position: absolute;
    left: -6vw;
    top: -6vw;
    width: 15vw;
    height: 15vw;
    padding: 1vw;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    .outline {
      path {
        fill: transparent; //utility.$dive-black;
        //stroke: utility.$dive-red;
      }
    }
    .fill {
      path {
        fill: utility.$dive-red;
        //stroke: utility.$dive-black;
      }
    }
  }
}