@use 'sass:math';
@use '../../scss/utility';

$horizontalGap: 0.75rem;
$sectionHeight: 24vw;

$min: 7.0;
$max: 8.0;
$rand: random(); // default is 1-100
$randomNum: $min + floor($rand * (($max - $min) + 1));

// .filigree {
//   width: 55vw;
//   height: 4vw;

//   background-image: url('../../../../assets/images/filigree.svg');
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
// }
.filigree-bg {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  svg {    
    display: inline-block;
    position: relative;
    height: 11rem;
    top: 1.5rem;
    path {
      stroke: utility.$dive-red;
    }
  }
}

.section {
  display: flex;
  justify-content: space-between;
  min-height: $sectionHeight;

  &.menu {
    // margin-bottom: 2rem;
    .section-text {
      border-top: 1px solid utility.$line-colors;
      border-bottom: 1px solid utility.$line-colors;
      border-right: 1px solid utility.$line-colors;
      margin: 0 $horizontalGap 0  0;

      > div {
        margin: $horizontalGap;
        //padding: 8vw;
        border-top: 1px solid utility.$line-colors;
        border-bottom: 1px solid utility.$line-colors;
        border-right: 1px solid utility.$line-colors;        

        //background-color: utility.$dive-red;
      }
      .section-label {      
        //@include utility.text-double-outline('Specials');
      }
    }
    .section-img {
        background-image: url('../../../../assets/images/home/DiveInnDraft.jpg');
        background-size: cover;
        background-position: center right;
        border-top: 1px solid utility.$line-colors;
        border-bottom: 1px solid utility.$line-colors;
        border-left: 1px solid utility.$line-colors;
    }
  }

  &.booking {
    .section-text {
      margin: 0 0 0 $horizontalGap;
      border-top: 1px solid utility.$line-colors;
      border-bottom: 1px solid utility.$line-colors;
      border-left: 1px solid utility.$line-colors;      
      > div {
        margin: $horizontalGap;
        border-top: 1px solid utility.$line-colors;
        border-bottom: 1px solid utility.$line-colors;
        border-left: 1px solid utility.$line-colors;

        &::after {
          background-image: linear-gradient(71deg, transparent 19%, rgba(255,255,255,0.08) 30.59%, rgba(255,255,255,0.15) 40%, rgba(255,255,255,0.08) 40.31%, transparent 40.51%);
          animation: shine-to-right $randomNum+s ease-in-out forwards infinite;
        }

        .click-icon {
          left: 2vw;
          right: unset;
          top: 6.5vw;
          bottom: unset;
          svg {
            path {
              fill: utility.$dive-red;
              stroke: utility.$dive-black;
            }
          }
        }
      }
      .section-label {      
        //@include utility.text-double-outline('Charters');
      }
    }
    .section-img {
      background-image: url('../../../../assets/images/inside/Interiors_233.jpg');
      background-size: cover;
      background-position: 0% 40%;
      border-top: 1px solid utility.$line-colors;
      border-bottom: 1px solid utility.$line-colors;
      border-right: 1px solid utility.$line-colors;
    }
  }
  


  $bgSplit1: 17.5%;
  $bgSplit: 82%;
  &.reverse {
    flex-direction: row-reverse;

    .section-text {
      > div {
        //background-image: linear-gradient(-11deg, utility.$dive-red-dk, $bgSplit1, utility.$dive-red $bgSplit1 + 15%, utility.$dive-red $bgSplit, utility.$dive-black $bgSplit + 0.5%);
      }
    }
  }

  .section-text {
    flex: 2;
    position: relative;
    text-shadow: 2px 2px 2px #000;
    z-index: 1;
    
    $tx: 100%;
    $ty: 0%;
    $scale: 100%;
    @keyframes shine-to-left {
      0% {
        transform: translate($tx, -$ty) scale($scale);
      }
      10% {
        transform: translate(-$tx, $ty) scale($scale);
      }
      100% {
        transform: translate(-$tx, $ty) scale($scale);
      }   
    }
    @keyframes shine-to-right {
      0% {
        transform: translate(-$tx, -$ty) scale($scale);
      }
      10% {
        transform: translate($tx, $ty) scale($scale);
      }
      99% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translate($tx, $ty) scale(100%);
      }   
    }
    > div {
      position: relative;
      min-height: $sectionHeight;
      min-width: $sectionHeight;
      display: flex;      
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2vw;
      
      //background-image: radial-gradient(at 15%, transparent 70%, utility.$dive-red 71%);
      //background-image: linear-gradient(-11deg, utility.$dive-red-dk, $bgSplit1, utility.$dive-red $bgSplit1 + 15%, utility.$dive-red $bgSplit, utility.$dive-black $bgSplit + 0.5%);
      background-image: linear-gradient(-11deg, utility.$dive-red, utility.$dive-red $bgSplit1, transparent $bgSplit1 + 0.5%, transparent $bgSplit, utility.$dive-red $bgSplit + 0.5%),
      radial-gradient(rgba(255,255,255,0.09) 30%, transparent 70%);      
      //background-image: linear-gradient(-11deg, utility.$dive-red $bgSplit, utility.$dive-black $bgSplit + 1%);
      //background-position: left top;
      overflow: hidden;      

      &::after {
        content: '';
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-image: linear-gradient(71deg, transparent 39%, rgba(255,255,255,0.08) 39.59%, rgba(255,255,255,0.15) 40%, rgba(255,255,255,0.08) 41.31%, transparent 65.51%);
        background-repeat: no-repeat;
        background-position: top left;
        transform: translate(-100%, 0%);
        //transition: transform 0.5s ease;
        animation: shine-to-left $randomNum+s ease-in-out forwards infinite;        
      }

      &:hover {
        cursor: pointer;
        .section-label {
          text-shadow: 0px 0px 5px utility.$dive-yellow;
        }

        &::after {
          //opacity: 1;
          //transform: translate(100%, 10%);
        }
      }

      .click-icon {
        position: absolute;
        bottom: 6.5vw;
        right: 2vw;
        width: 1.25vw;
        svg {
          path {
            stroke-width: 8px;
            stroke: utility.$dive-red;
            fill: utility.$dive-black;
          }
        }
      }

      .section-label {        
        padding: 0 0 0.5rem 0rem;
        
        //border: 5px solid utility.$dive-green;
        background: utility.$dive-green;
        border-radius: 8px;
        color: utility.$dive-yellow;
        transform: skew(-20deg) rotateZ(-14deg);
        
        span {
          display: block;
          transform: skew(20deg) rotateZ(0deg);
          font-style: italic;
        }

        margin: 0 0 0rem;
        font-size: 3.4vw;
        font-family: 'Righteous', cursive;
        &::after {
          -webkit-text-stroke: 8px utility.$dive-white;
        }
      }
      .section-blurb {
        font-size: 2vw;
        text-align: center;
        transform: skew(-20deg) rotate(-14deg);
        margin: 0.5rem 0;
        padding: 0 2vw;
        //font-style: italic;
      }
    }
  }
  
  .section-img {
    flex: 3;
    //position: absolute;
    width: 100%;

    .filigree-bg {
      position: relative;
      display: flex;
      justify-content: center;
      svg {    
        //position: absolute;
        height: 11rem;
        path {
          stroke: utility.$dive-red;
        }
      }
    }

    img {
      //width: 100%;
      //max-width: 26vw;
    }
    &-bg {
      width: 100%;
      height: 100%;
      //background-repeat: no-repeat;
      
    }
    svg {
      path {
        stroke: utility.$dive-red-dk;
      }
    }
  }

  button {
    width: 150px;
    height: 30px;
    border-radius: 20px;
  }
}
