@use '../../scss/utility';

$lineColor: utility.$dive-red-dk;
$horizontalGap: 0.75rem;

.section {
  display: flex;
  justify-content: space-between;
  //padding: 0 7vw;

  &.menu {
    // margin-bottom: 2rem;
    .section-text {
      border-top: none;
      border-right: none;
      border-bottom: 1px solid $lineColor;
      border-right: 1px solid $lineColor;
      margin: 0 $horizontalGap 0  0;

      > div {
        margin: $horizontalGap;
        padding: 8vw;
        border-bottom: 1px solid $lineColor;
        border-right: 1px solid $lineColor;
      }
    }
    .section-img {
        background-image: url('../../../../assets/images/specials/Dive Inn (Draft).jpg');
        background-size: 110%;
        background-position: 0% 60%;
        border-bottom: 1px solid $lineColor;
        border-left: 1px solid $lineColor;
    }
  }

  &.booking {
    .section-text {
      margin: 0 0 0 $horizontalGap;
      border-top: 1px solid $lineColor;
      border-left: 1px solid $lineColor;
      > div {
        margin: $horizontalGap;
        padding: 8vw;
        border-top: 1px solid utility.$dive-red-dk;
        border-left: 1px solid utility.$dive-red-dk;
      }
    }
    .section-img {
      background-image: url('../../../../assets/images/inside/Interiors_233.jpg');
      background-size: 100%;
      background-position: 0% 40%;
      border-top: 1px solid $lineColor;
      border-right: 1px solid $lineColor;
    }
  }
  


  &.reverse {
    flex-direction: row-reverse;
  }

  .section-text {
    z-index: 1;
    display: flex;    
    justify-content: space-around;
    flex-direction: column;
    background-image: linear-gradient(90deg, utility.$dive-black 0%, utility.$dive-black 70%, transparent 100%);
  }
  
  .section-img {
    //position: absolute;
    width: 100%;

    img {
      //width: 100%;
      //max-width: 26vw;
    }
    &-bg {
      width: 100%;
      height: 100%;
      //background-repeat: no-repeat;
      
    }
  }

  button {
    width: 150px;
    height: 30px;
    border-radius: 20px;
  }
}
