@use './scss/utility';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // combined with html/body in styles.scss for flexbox 'sticky-footer'
  
  header {
    position: relative;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-around;
    //align-items: center;
    padding: 1rem;
    //text-align: center;
    font-weight: normal;
    img {
      display: inline-block;
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 100%;
      max-width: 450px;
      z-index: -1;
      @include utility.media-breakpoint-gte(sm) {
        width: 90%;
      }
    }
    app-main-nav {
      position: relative;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
    }
    h1 {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 400px;
      transform: translateX(-50%);
      font-size: 3rem;
    }
    .creds {
      position: absolute;
      right: 1rem;
      top: 1rem;
      button {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }

  main {
    flex: 1 0 0;
    padding: 2rem;
  }

  footer {
    height: 3rem;
    background-color: utility.$dive-red;
  }
}