@use '../../../../scss/utility';

div.photo-set-list-container {
  table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    border: none;
    
    thead {
      th {
        padding: 0.25rem;
        background: utility.$dive-gray-dk;
        text-align: left;
      }
    }
    tbody {
      th {
      }
      td {
        padding: 0 0.25rem;
      }
    }
  }
}
