<div class="photo-set-list-container">
  <table>
    <thead>
      <tr>
        <!-- <th></th> -->
        <th>Album</th>
        <th>Photos</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let photoSet of photoSets$ | async; index as i" (click)="albumSelect(photoSet)">
        <!-- <th>{{ i+1 }}</th> -->
        <td>{{ photoSet.title._content }}</td>
        <td>{{ photoSet.count_photos }}</td>
        <td>{{ photoSet.date_create * 1000 | date }}</td>
      </tr>
    </tbody>
  </table>

  <!-- <div *ngFor="let photoSet of photoSets$ | async; index as i">
    <div>
      {{i + 1}}:
    </div>
    <div>
      {{ photoSet.title._content }}
    </div>
    <div>
      {{photoSet.count_photos}}
    </div>
    <div>
      {{ photoSet.date_create * 1000 | date }}
    </div>
  </div> -->
  <div *ngIf="!(photoSets$ | async)">
    No Albums
  </div>

</div>