@use 'sass:math';
@use '../../scss/utility';

$headerColor: utility.$dive-gray-dk2;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    z-index: 4;
    position: sticky;
    top: 0;
    left: 0rem;
    width: 100%;
    box-shadow: 0px 4px 4px utility.$dive-black;    

    img {
      z-index: 2;
      width: 15vw;
      position: absolute;
      top: -11vw;
      left: 0rem;
      padding: 1rem;
      $t1: 20%;
      $t2: 44%;
      background-image: linear-gradient(163deg, utility.$dive-black 0%, utility.$dive-black $t1, $headerColor ($t1 + 0.5%), $headerColor $t2, utility.$dive-black $t2 + 0.3%, utility.$dive-black $t2 + 0.8%, transparent $t2 + 1.2%);
      border-bottom-right-radius: 50%;

      transition: top 0.65s ease;

      &.showLogo {
        top: 0rem;
        //display: inline-flex;
        // transform: display(inline-flex);
        // transition: all 1s;
      }
    }

    nav {
      font-size: 1.25vw;
      background-color: $headerColor; //rgba(0,0,0,0.75);
      color: utility.$dive-white;
      
      ul {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 0.25rem 0;
        margin: 0;
        list-style-type: none;

        li {
          padding: 0.5rem 1rem;

        }
      }
    }

    $boat-cam-size: 15vw;

    .boat-cam {
      z-index: 5;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 1vw;
      top: 1vw;
      background-color: utility.$dive-black;
      color: utility.$dive-white;
      width: $boat-cam-size;
      height: $boat-cam-size;
      border-radius: math.div($boat-cam-size, 2);
      font-size: math.div($boat-cam-size, 4);
      text-align: center;
    }
  }

  // end header

  main {
    flex: 1;

    .intro-section {
      position: relative;

      app-mouse-facer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .intro {
          height: 50vw;

          h1.title {
            z-index: 0;
            display: inline-block;
            position: relative;
            top: 9vw;
            right: -3vw;
            transform: translate(-50%) skew(350deg, 346deg) rotate(0deg);;
            //max-width: 40vw;
            margin: 0;
            //padding: 0 0 0 4vw;
            text-align: right;
            
            font-size: 4vw;
            @include utility.media-breakpoint-gte(sm) {
              font-size: 3.5vw;
            }
            $textOutlineWidth: 6px;
            $textColor: utility.$dive-black;
            $textOutlineColor: utility.$dive-red;
            $textOutline2Color: utility.$dive-white;
                        
            color: $textColor;
            -webkit-text-stroke: 0.05em $textOutlineColor;
            // text-shadow: 3px 3px 0 utility.$dive-red,
            //   $textOutlineWidth $textOutlineWidth 0px $textOutlineColor,
            //   $textOutlineWidth (-$textOutlineWidth) 0px $textOutlineColor,
            //   -$textOutlineWidth $textOutlineWidth 0px $textOutlineColor,
            //   -$textOutlineWidth (-$textOutlineWidth) 0px $textOutlineColor;
            &:after {
              position: absolute;
              content: "Local Events Live Sports Bar Games";
              -webkit-text-stroke: 0.2em $textOutline2Color;
              top: 0; right: 0rem;
              z-index: -1;
            }

            span {
              //margin: 0 1.25rem;
            }
          }          
        } // end intro

        .contact-container {
          z-index: 1;
          width: 100%;   
          padding: 1rem 1rem 1rem;
          @include utility.media-breakpoint-gte(sm) {
            padding: 1rem 10vw 2rem;
          }
          background-color: utility.$dive-red;
          background-image: linear-gradient(0deg, utility.$dive-red 0%, utility.$dive-red 98%, utility.$dive-black 100%);

          .contact-content {
            $headerFontSize: 2.2vw;
            $largeInfoFontSize: 2.2vw;
            $smallInfoFontSize: 1.5vw;

            top: 50vw;
            left: 0;
            display: flex;
            justify-content: center;
            flex-flow: wrap;            
            color: utility.$dive-white;
            //border-bottom-left-radius: 50%;
            //border-bottom-right-radius: 50%;
            //border-radius: 50%;
            text-align: center;
            text-shadow: 2px 2px 2px utility.$dive-black;

            > div {            
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              padding: 0 1rem;            
              //border-bottom-left-radius: 42%;
              //border-bottom-right-radius: 42%;
              //border-radius: 50%;            
              h2 {
                margin: 0;
                padding-top: 0.5rem;
                font-size: 1rem;
                font-weight: normal;
                @include utility.media-breakpoint-gte(sm) {
                  font-size: $headerFontSize;
                }
                //text-transform: uppercase;              
              }
              p {
                margin: 0;
                font-size: $smallInfoFontSize;
                &:last-child {
                  font-size: $smallInfoFontSize;
                  @include utility.media-breakpoint-gte(sm) {
                    font-size: $largeInfoFontSize;
                  }
                //font-weight: bold;
                }
              }
              &.address {
                p {
                  font-size: $largeInfoFontSize;
                  //font-weight: bold;
                }
                p:last-child {
                  font-size: $smallInfoFontSize;
                  font-weight: normal;
                }
              }
              &.hours {
                //padding-bottom: 1rem;
              }
              &.phone {
                p:last-child {
                  padding-top: 1rem;
                }
              }
              
            }            
          } // end contact-content          
        } // end contact

        .waves-separator {
          position: relative;
          z-index: 0;
          display: flex;
          width: 100%;
          margin-top: -2rem;
          > div {
            position: relative;
            flex: 1;
            min-height: 4rem;
            border-radius: 0 0 50% 50%;
            background-color: utility.$dive-red;
          }
        }

        .blurb {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2rem;
          text-align: center;
          @include utility.media-breakpoint-gte(md) {
            padding: 4rem;
          }
          img, span {
            display: block;            
          }
          p {
            max-width: 50%;
            font-size: 1.5rem;
            line-height: 1.75;
          }
        }
      }
    }

    app-topic-section {
      z-index: 0;
      position: relative;
      display: block;
      margin: 0 auto;
      width: 100vw;

      @include utility.media-breakpoint-gte(sm) {
        width: 80vw;
      }

      @include utility.media-breakpoint-gte(lg) {
        width: 75vw;
      }

      @include utility.media-breakpoint-gte(ws) {
        width: 70vw;
      }
    }
  }

  // end main

  footer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 40, 20, 0.7); //utility.$dive-red; //rgba(0,0,0,0.75);
    color: utility.$dive-white;

    .navigation {
      display: flex;
      flex-direction: row;
    }
  }

  // end footer
}