@use 'sass:math';
@use '../../scss/utility';

:host {
  app-mouse-facer-card {
    ::ng-deep {
      ul {
        li {
          font-size: 1.5vw;
          margin-bottom: 1vw;
          text-align: left;
          
          a {
            line-height: 2;
          }
        }
      }
    }
  }
}