@use './app/scss/utility';

* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: utility.$dive-black;
  color: utility.$dive-white;
}

button {
  background-color: transparent;
  border: none;
}